<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <a routerLink="/new">
            <button mat-raised-button color="primary">New Ranking</button>
        </a>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter existing Ranking</mat-label>
                <input matInput [(ngModel)]="voteId">
            </mat-form-field>

            <a routerLink="/votes" [queryParams]="{id: voteId}">
                <button mat-raised-button color="primary">
                    Go
                </button>
            </a>

        </div>
    </mat-grid-tile>

</mat-grid-list>