<div *ngIf="candidatesArray == null || candidatesArray.length==0">
    <h1>No Ranking Found</h1>
</div>

<div *ngIf="candidatesArray != null && candidatesArray.length>0">
    <h1>Order from favorite to least favorite</h1>
    <h2>Then click submit</h2>
    <form #submitVote="ngForm" (ngSubmit)="onClickSubmit(candidatesArray)">

        <mat-card *ngIf="voteSubmitted">You have already voted. This is your ranking:</mat-card>

        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" cdkDrag *ngFor="let candidate of candidatesArray; index as i">
                {{i + 1}} - {{candidate}}
            </div>
        </div>


        <button mat-raised-button type="submit" [disabled]="voteSubmitted">
            <mat-icon color="primary">send</mat-icon> Submit
        </button>

        <a routerLink="/votes/results" [queryParams]="{id: voteId}">
            <button mat-stroked-button color="primary" [disabled]="!voteSubmitted">
                <mat-icon color="primary">list</mat-icon> View Results
            </button>
        </a>
    </form>
</div>