<p>new-ranking works!</p>

<div>

    <form #submitVote="ngForm" (ngSubmit)="onClickSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Enter Name of Ranking</mat-label>
            <input matInput [(ngModel)]="rankingName" name="rankingName">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter option</mat-label>
            <input matInput [(ngModel)]="newCandidate" name="candidate">
        </mat-form-field>

        <button mat-raised-button color="primary">
            Add
        </button>
    </form>
</div>

<div>
    <p>List of candidates</p>
    <div class="example-list">
        <div class="example-box" *ngFor="let candidate of resultArray; index as i">
            {{i + 1}} - {{candidate}}
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="onClickSubmitList()">
        Submit
    </button>
</div>

<div *ngIf="this.voteId != null">
    Here's the link <a [routerLink]="['/votes', voteId]">{{url}}</a>
</div>